@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap');

body {
    background-image: url("../images/texture.png");
    mix-blend-mode: multiply;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    position: relative;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-direction: row;
    max-width: 1800px;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.col.fs {
    align-items: flex-start;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    border: 2px solid black;
    border-radius: 1em;
    margin: 1rem 0;
}

.sb {
    justify-content: space-between;
}

.one {
    flex: 1 1;
}

.two {
    flex: 2 2;
}

.g-05 {
    gap: 0.5rem;
}

.g-2 {
    gap: 2rem;
}

.g-5 {
    gap: 5rem;
}

.p-1 {
    padding: 1rem 0;
}

.p-2 {
    padding: 2rem 0;
}

.p-3 {
    padding: 3rem 0;
}

.w-9 {
    width: 89%;
}

.w-10 {
    width: 95%;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

/* GENERAL */

.landing {
    width: 100%;
    background: #F3E1D1;
    border-bottom: 4px solid black;
}

/* NAVBAR STYLE */

.navbar.mobile {
    display: none;
}

.navbar {
    justify-content: space-between;    
    margin: 3rem auto;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav__wrapper:nth-of-type(1) {
    justify-content: flex-start;
    flex-shrink: 1;
}

.nav__wrapper:nth-of-type(2) {
    justify-content: flex-end;
    flex-shrink: 2;
}

.nav__wrapper a {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #E06331;
}

/* HERO STYLE */

.hero .container.col:nth-of-type(1) > h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 6em;
    text-decoration: none;
    color: #E06331;
    text-align: center;
    max-width: 30rem;
}

.hero .container.col:nth-of-type(1) > p {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    text-decoration: none;
    color: #000;
    text-align: center;
    max-width: 30rem;
}

.hero .row {
    align-items: center;
    justify-content: space-evenly;
}

#rotated {
    writing-mode: vertical-lr;
    color: #fff;
    font-family: 'Raleway', sans-serig;
    font-size: 2em;
}

.phone {
    z-index: 1 !important;
}

.arrow {
    transform: rotate(180deg);
}

.row.buttons {
    padding: 1rem 0;
    gap: 1rem;
}

.btn {
    border: 2px solid black;
    border-radius: 2rem;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 750;
}

.btn.btn__type__1 {
    color: #F3E1D1;
    background-color: #E06331;
}

.btn.btn__type__2 {
    color: #E06331;
    background-color: #F3E1D1;
}

.landing .zigzag {
    position: absolute;
    width: 50px;
    z-index: 0;
    height: 48.3rem;
    right: calc(35% - 25px);
}

.landing .zigzag-fill {
    position: absolute;
    background-color: #E06331;
    height: 48.3rem;
    width: calc(35% - 75px);
    right: 0;
    z-index: 0;
}

.landing .zigzag:before,
.landing .zigzag:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
}

.landing .zigzag:before {
    width: 46px;
    left: 110%;
    background: linear-gradient(45deg, #000 25px, transparent 0) 0 25px, linear-gradient(135deg, #000 25px, #E06331 0) 0 25px;
    background-position: top left;
    background-repeat: repeat-y;
    background-size: 50px 50px;
    height: 100%;
}

.landing .zigzag:after {
    width: 50px;
    left: 100%;
    background: linear-gradient(45deg, #F3E1D1 25px, transparent 0) 0 25px, linear-gradient(135deg, #F3E1D1 25px, transparent 0) 0 25px;
    background-position: top left;
    background-repeat: repeat-y;
    background-size: 50px 50px;
    height: 100%;
}

.foreground * {
    position: absolute;
}

.foreground img:nth-child(1) {
    transform: rotate(200deg);
    top: -5rem;
}

.foreground img:nth-child(2) {
    left: -5rem;
    top: 30rem;
}


.foreground img:nth-child(3) {
    position: absolute;
    bottom: -5rem;
    object-fit: contain;
    z-index: 1;
    clip-path: inset(0px 0px 80px);
}


.promise {
    padding: 6rem 0;
    background-color: #E06331;
    min-height: 24rem;
    border-bottom: 4px solid black;
}

.promise .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    gap: 2rem;
}

.promise .col:nth-child(1) {
    align-items: center;
    gap: 2rem;
}

.promise .h-2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2em;
}

.promise h1, p {
    font-family: 'Raleway', sans-serif;
    color: #F3E1D1;
    text-align: center;
}

.promise h1 {
    font-size: 7em;
    max-width: 55rem;
}

.promise p {
    width: 35rem;
    font-size: 1.1em;
}

.promise .foreground * {
    position: absolute;
    z-index: -1;
}

.promise .foreground img:nth-child(1) {
    top: 27rem;
    left: 2rem;
    transform: rotate(25deg);
}

.promise .foreground img:nth-child(2) {
    top: 4rem;
    left: -1rem;
}

.promise .foreground img:nth-child(3) {
    top: 25rem;
    right: 3rem;
    transform: rotate(50deg);
}

.promise .foreground img:nth-child(4) {
    top: 2rem;
    right: 2rem;
}

.simple {
    background-color: #F3E1D1;
    border-bottom: 4px solid #000;
}

.simple h1:nth-child(1) {
    color: #E06331;
    font-family: 'Raleway', sans-serif;
    font-size: 8em;
    text-align: center;
}

.simple .row > p {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    width: 45rem;
}

.simple .product__name {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.simple .product__price {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    color: #E06331;
}

.simple .arrows img:nth-child(1) {
    transform: rotate(-90deg);
}

.simple .arrows img:nth-child(2) {
    transform: rotate(90deg);
}

.faq {
    background-color: #E06331;
    border-bottom: 4px solid #000;
}

.faq .row {
    align-items: center;
    gap: 10rem;
    justify-content: space-between;
}

.faq .row h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 6em;
    color: #F3E1D1;
}

.faq .row img {
    width: 21rem;
}

.faq .row h2, span {
    font-family: 'Raleway', sans-serif;
    color: #F3E1D1;
    font-size: 1.5em;
    white-space: nowrap;
    padding: 1rem 0;
}

.faq .row .border__bottom {
    border-bottom: 2px solid #F3E1D1;
}

@media (max-width: 1080px) {
    .container {
        max-width: 1080px;
        min-width: 560px;
    }

    .navbar.desktop {
        display: none;
    }

    .nav__wrapper.mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        padding: 0;
    }

    .row {
        flex-direction: column;
        max-width: 1080px;
    }

    .landing .row.two.mobile {
        display: none;
    }

    .promise .h-2 {
        font-size: 2em;
    }

    .promise h1 {
        font-size: 3em;
    }

    .foreground img {
        width: 7em;
    }

    p {
        max-width: 26rem;
        font-size: 1em;
    }


    .zigzag, .zigzag-fill, .phone, #rotated {
        display: none;
    }

    .arrows img:nth-child(1) {
        display: none;
    }

    .simple .arrows img:nth-child(2) {
        transform: rotate(180deg);
    }

    .simple .btn {
        margin: 1rem 0;
    }

    .faq .row {
        gap: .1rem;
        flex-direction: column-reverse;
    }

    .faq .row .border__bottom {
        align-items: flex-start;
    }
    .faq .row span {
        display: none;
    }
}